@import 'reset';

body {
  font-family: sans-serif;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(5, 191, 255);
  background: linear-gradient(
    0deg,
    rgba(5, 191, 255, 1) 0%,
    rgba(30, 255, 245, 1) 57%
  );
}
.calculator {
  padding: 1rem;
  box-shadow: -3px 3px 60px 3px #0c2340;
  border-radius: 70px;
  margin: 1rem;
  background: #7fffd4;
  max-width: 40rem;
  width: 100%;
  max-height: 40rem;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 0.3fr repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 1rem 1rem;
  grid-template-areas:
    'first-number math-sign second-number result'
    'array-inp array-inp array-inp array-calc'
    'first-prompt first-prompt first-prompt sum'
    'first-prompt first-prompt first-prompt subtract'
    'second-prompt second-prompt second-prompt multiply'
    'second-prompt second-prompt second-prompt divide';
}
.first-number {
  background: hsl(0, 100%, 50%);
  grid-area: first-number;
  border-radius: 50px 0px 0px 0px;
}
.second-number {
  background: blue;
  grid-area: second-number;
}
.math-sign {
  background: orange;
  grid-area: math-sign;
}
.result {
  background: green;
  grid-area: result;
  border-radius: 0px 50px 0px 0px;
}
.array-inp {
  padding: 0.5rem;
  overflow-wrap: break-word;
  grid-area: array-inp;
  background: rgb(64, 255, 0);
  font-weight: bolder;
}
.array-calc {
  display: flex;
  justify-content: center;
  padding: 0.6rem;
  grid-area: array-calc;
  background: rgb(89, 255, 0);
  font-weight: bolder;
  cursor: pointer;
}
.first-prompt {
  grid-area: first-prompt;
  background: orange;
}
.second-prompt {
  grid-area: second-prompt;
  background: pink;
  border-radius: 0px 0px 0px 50px;
}
.sum {
  grid-area: sum;
  background: purple;
}
.subtract {
  grid-area: subtract;
  background: rgb(255, 0, 0);
}
.multiply {
  grid-area: multiply;
  background: hsl(120, 100%, 25%);
}
.divide {
  grid-area: divide;
  background: blue;
  border-radius: 0px 0px 50px 0px;
}
.bnt-big {
  background: rgba(5, 193, 255, 0.596);
  box-shadow: none;
  transition: box-shadow 0.2s;
}
.bnt-big:hover {
  box-shadow: -3px 3px 10px 0px #0c2340;
}
.bnt-big:active {
  box-shadow: none;
}
.btn-small {
  background: rgba(99, 216, 255, 0.576);
  box-shadow: none;
  transition: box-shadow 0.2s;
}
.btn-small:hover {
  box-shadow: -3px 3px 10px 0px #0c2340;
}
.btn-small:active {
  box-shadow: none;
}
.btn {
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bolder;
  text-transform: uppercase;
}
.inf {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff9b;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.6rem;
}
