/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/
/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  Remove list styles (bullets/numbers)
  in case you use it with normalize.css
*/
ol,
ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

body {
  font-family: sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(5, 191, 255);
  background: linear-gradient(0deg, rgb(5, 191, 255) 0%, rgb(30, 255, 245) 57%);
}

.calculator {
  padding: 1rem;
  box-shadow: -3px 3px 60px 3px #0c2340;
  border-radius: 70px;
  margin: 1rem;
  background: #7fffd4;
  max-width: 40rem;
  width: 100%;
  max-height: 40rem;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 0.3fr repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 1rem 1rem;
  grid-template-areas: "first-number math-sign second-number result" "array-inp array-inp array-inp array-calc" "keypad keypad keypad keypad-sign" "keypad keypad keypad keypad-sign" "keypad keypad keypad keypad-sign" "keypad keypad keypad keypad-sign";
}

.first-number {
  background: hsl(0, 100%, 50%);
  grid-area: first-number;
  border-radius: 50px 0px 0px 0px;
}

.second-number {
  background: blue;
  grid-area: second-number;
}

.math-sign {
  background: orange;
  grid-area: math-sign;
}

.result {
  background: green;
  grid-area: result;
  border-radius: 0px 50px 0px 0px;
}

.array-inp {
  padding: 0.5rem;
  overflow-wrap: break-word;
  grid-area: array-inp;
  background: rgb(64, 255, 0);
  font-weight: bolder;
}

.array-calc {
  display: flex;
  justify-content: center;
  padding: 0.6rem;
  grid-area: array-calc;
  background: rgb(89, 255, 0);
  font-weight: bolder;
  cursor: pointer;
}

button {
  border-radius: 0.3rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: -2px 5px 10px 0px #053323;
  transition: box-shadow 0.2s;
}
button:hover {
  box-shadow: -2px 9px 10px 0px #085339;
  top: -0.05rem;
}
button:active {
  box-shadow: none;
  top: 0.1rem;
}

.keypad {
  grid-area: keypad;
  border-radius: 0.3rem 0.3rem 0.3rem 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1rem 1rem;
  font-size: 2rem;
}
.keypad button {
  background: green;
}

.button--dot {
  border-radius: 0.3rem 0.3rem 0.3rem 50px;
}

.keypad-sign {
  font-size: 2rem;
  grid-area: keypad-sign;
  border-radius: 0.3rem 0.3rem 50px 0.3rem;
  display: grid;
  grid-gap: 1rem 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "addition subtraction" "multiplication division" "equal equal" "delete delete";
}
.keypad-sign button {
  background: rgb(87, 128, 0);
}

.sign--6 {
  border-radius: 0.3rem 0.3rem 50px 0.3rem;
}

.sign--1 {
  grid-area: addition;
}

.sign--2 {
  grid-area: subtraction;
}

.sign--3 {
  grid-area: multiplication;
}

.sign--4 {
  grid-area: division;
}

.sign--5 {
  grid-area: equal;
}

.sign--6 {
  grid-area: delete;
}

.inf {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.6078431373);
  font-size: 2rem;
  font-weight: bold;
  padding: 0.6rem;
}/*# sourceMappingURL=style.css.map */